{% extends 'base.html' %}

{% block title %}Crear Alumno{% endblock %}

{% block content %}
    <h1>Crear Alumno</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.matricula.label(class="form-label") }}
            {{ form.matricula(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.grupo.label(class="form-label") }}
            {{ form.grupo(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
{% endblock %}
