<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="form-container">
    <h2>🔑 Inicia Sesión</h2>
    <input type="text" id="loginUser" placeholder="Usuario ">
    <input type="password" id="loginPass" placeholder="Contraseña">
    <button onclick="login()">Entrar</button> 
    
    <p>¿No tienes cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>
</html>